--disable-debug
--enable-optimize
--enable-shared=no
--enable-static=yes
--with-mpi
--disable-fortran
--enable-tools
--enable-all-static
--with-hdf5=/root/edge/submodules/moab/../../libs
--with-netcdf=/root/edge/submodules/moab/../../libs
--with-zlib=/root/edge/submodules/moab/../../libs
--with-pnetcdf=no
--prefix=/root/edge/submodules/moab/../../libs
CC=mpicc
CXX=mpiCC
F77=mpiifort
FC=mpiifort
